<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://www.linkedin.com/in/benoitjulliot/">
      <img
        src="../../../../assets/images/Logo_GIGI-7.png"
        width="60"
        height="28"
      /><img
        src="../../../../assets/images/Logo_GIGI-9.png"
        width="30"
        height="28"
      />
    </a>

    <a
      role="button"
      [ngClass]="{
        'navbar-burger': true,
        'burger': true,
        'is-active': isActive
      }"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      (click)="activate()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    id="navbarBasicExample"
    [ngClass]="{
      'navbar-menu': true,
      'is-active': isActive
    }">
    <div class="navbar-start">
      <a class="navbar-item" href=" ">
        Accueil
      </a>

      <!--<a class="navbar-item">
        Documentation
      </a>-->

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" (click)="plier()">
          Plus
        </a>

        <div *ngIf="!isPlier" class="navbar-dropdown">
          <!--

          <a class="navbar-item">
            A propos
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          -->
          <a
            *ngIf="roles !== null && roles.includes('ADMIN')"
            class="navbar-item"
            href="editor"
          >
            Editeur
          </a>
          <a class="navbar-item" href="https://www.linkedin.com/in/benoitjulliot/" target="_blank">
            Contact
          </a>
          <hr class="navbar-divider" />
          <a class="navbar-item" href="https://www.linkedin.com/in/benoitjulliot/" target="_blank">
            Signaler une anomalie
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons" *ngIf="isLogged === false; else deconnexion">
          <a class="button is-primary" routerLink="register" href="/register">
            <strong>Inscription</strong>
          </a>
          <a class="button is-light" routerLink="login" href="/login">
            Connexion
          </a>
        </div>
        <ng-template #deconnexion>
          <span class="tag is-danger is-large">
            {{ idUser }}
            <button
              class="delete"
              id="deconnectButton"
              (click)="signOut()"
            ></button>
          </span>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
