<progress class="progress is-warning" value="33" max="100">
</progress>
<ul class="columns is-mobile">
  <div class="column is-4">
    <a href="#" class="is-pulled-left" data-tooltip="Step 1">Step 1</a>
    <a href="#" class="is-pulled-right" data-tooltip="Step 2">Step 2</a>
  </div>
  <li class="column is-4">
    <a href="#" class="is-pulled-right" data-tooltip="Step 3">Step 3</a>
  </li>
  <li class="column is-4">
    <a href="#" class="is-pulled-right" data-tooltip="Step 4">Step 4</a>
  </li>
</ul>
<section class="section container hero is-primary" style="width: 600px;height: 600px;">
  <div class="tabs is-fullwidth">
    <ul>
      <li>
        <a>
          <span class="icon"><i class="fa fa-angle-left"></i></span>
          <span>Left</span>
        </a>
      </li>

      <li>
        <a>
          <span>Right</span>
          <span class="icon"><i class="fa fa-angle-right"></i></span>
        </a>
      </li>
    </ul>
  </div>
  <div id="slider">
    <figure>
      <img src="../../../../assets/images/Logo_GIGI-10.png" alt>
      <img src="http://bulma.io/images/placeholders/640x480.png" alt>
      <img src="http://bulma.io/images/placeholders/640x480.png" alt>
      <img src="http://bulma.io/images/placeholders/640x480.png" alt>
    </figure>
  </div>
<div class="tabs is-centered">
  <ul>
    <li class=""><a>Pictures</a></li>
    <li><a>Music</a></li>
    <li><a>Videos</a></li>
    <li><a>Documents</a></li>
  </ul>
</div>
</section>

<div class="container is-fluid">
  <div class="columns is-multiline is-mobile" *ngIf="articles">
    <!--*ngFor="let article of articles._embedded.articles-->
      <app-article-card
        *ngFor="let article of articles"
        [auteur]="article.auteur"
        [titre]="article.titre"
        [date]="1-1-2019"
        [resume]="article.resume"
        [article]="article"
        [imgArticle]="article.img"
        [urlArticle]="article.url"
      ></app-article-card>
  </div>
</div>
