<div class="div-principale">
  <div class="div-principale__premier-plan">
    <img class="img-principale" src="../../../../assets/images/banner-1295193.svg" onerror="this.onerror=null; this.src='../../../../assets/images/img-article-card.png'" alt="Placeholder image">
  </div>
  <div class="div-principale__second-plan" >
    <b>~ A la Une ~</b>
  </div>
</div>
<div>
  <app-carousel></app-carousel>
</div>
<div class="div-principale__second-plan" >
  <b>~ Toutes les dépêches du jour ~</b>
</div>
<div class="container is-fluid">
  <div class="columns is-multiline is-mobile" *ngIf="articles">
    <!--*ngFor="let article of articles._embedded.articles-->
      <app-article-card
        *ngFor="let article of articles"
        [auteur]="article.auteur"
        [titre]="article.titre"
        [date]="1-1-2019"
        [resume]="article.resume"
        [article]="article"
        [imgArticle]="article.img"
        [urlArticle]="article.url"
        [contenu]="article.contenu"
      ></app-article-card>
  </div>
</div>
