

<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close" (click)="goToHome()"></button>
    </header>
    <section class="modal-card-body">
      <br/>
<div class="tile is-ancestor">
  <div class="tile is-parent">

  </div>
  <div class="tile is-vertical is-parent is-8">
    <article class="tile is-child">
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Identifiant</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input class="input is-rounded" type="text" placeholder="Rounded input">
            </p>
          </div>
        </div>
      </div>
    </article>
    <article class="tile is-child">
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Mot de passe</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input class="input is-rounded" type="text" placeholder="Rounded input">
            </p>
          </div>
        </div>
      </div>
    </article>
    <article class="tile is-child">

    </article>
  </div>
  <div class="tile is-parent">

  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-parent is-5">

  </div>
  <article class="tile is-child">
    <div class="field is-horizontal">
      <div class="buttons">

      </div>
    </div>
  </article>
  <div class="tile is-parent is-2">

  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-parent">

  </div>
</div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-info" (click)="onSubmit()">Connexion</button>
      <button class="button is-danger" (click)="goToHome()">Annuler</button>
    </footer>
  </div>
</div>











