<br/>
<section class="section">
  <div *ngIf="article" class="container">
<!--
      <h1 class="title is-1">{{article.titre}}</h1>
      <p>{{article.auteur}}</p>
      <p>{{article.contenu}}</p>
      <p>{{article.resume}}</p>
      <p>{{article.date}}</p>
-->

      <!--TITRE-->
      <div class="tile is-ancestor">
        <div class="tile is-2 is-parent">

        </div>
        <div class="tile is-8 is-parent">
          <h1 class="title is-1">{{article.titre}}</h1>
        </div>
        <div class="is-parent">

        </div>
      </div>
      <!--AUTEUR-->
      <div class="tile is-ancestor">
        <div class="tile is-2 is-parent">

        </div>
        <div class="tile is-6 is-parent">

        </div>
        <div class="tile is-parent">
          <p class="title is-6">Par : {{article.auteur}}</p>
        </div>
        <div class="is-parent">

        </div>
      </div>
      <!--DATE-->
      <div class="tile is-ancestor">
        <div class="tile is-2 is-parent">

        </div>
        <div class="tile is-6 is-parent">

        </div>
        <div class="tile is-parent">
          <p class="title is-6">Date : {{article.date}}</p>
        </div>
        <div class="is-parent">

        </div>
      </div>

      <!--CONTENU-->

      <!--RESUME-->
      <div class="tile is-ancestor">
          <div class="tile is-2 is-parent">

          </div>
          <div class="tile is-8 is-parent">
              <h2 class="title is-3">{{article.titre}}</h2>
          </div>
          <div class="is-parent">

          </div>
      </div>

      <div class="tile is-ancestor">
          <div class="tile is-parent">

          </div>
          <div *ngIf="article.contenu" class="tile is-8 is-parent">
            <markdown>{{article.contenu}}</markdown>
          </div>
          <div class="tile is-vertical is-parent">
              <article class="tile is-12 is-child blue post">
                  <img src="../../../../assets/images/img-article-card.png">
              </article>
              <article class="tile is-12 is-child blue post">
                {{article.auteur}}
              </article>
              <article class="tile is-child gold post">
                <button *ngIf="roles !== null && roles.includes('ADMIN')" class="button is-primary" (click)="onGoToArticleEditor()">
                  Editer
                </button>
              </article>
          </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-6 is-parent">

        </div>
        <div class="tile is-vertical is-parent">
          <article class="tile is-child blue post">

          </article>
          <article class="tile is-child gold post">

          </article>
        </div>
        <div class="tile is-parent">

        </div>

      </div>
  </div>
</section>
