
<div *ngIf="urlArticle === null;else article_externe_lien">
  <div class="book-container" (click)=onGetArticleDetail() rel="noreferrer noopener">
    <div class="book" [dir]="resume">
      <div>
        <img class="article-card-d-header-img" style="border-radius: 7px 7px 0px 0px;"
          [alt]="titre"
          [src]="imgArticle"
          onerror="this.onerror=null; this.src='../../../../assets/images/img-article-card.png'" alt="Placeholder image"
        />
        <p class="article-card-d-body-p" style="max-width: 100%;font-weight: bold;">{{ titre }}</p>
        <div class="article-card-d-footer" [ngStyle]="{'background-color':onGetAutorColor(auteur)}">
          <img class="article-card-d-footer-img" [src]='onGetAutorLogo(auteur)' alt="Placeholder image">
        </div>
      </div>

    </div>
  </div>
</div>
<ng-template #article_externe_lien>

  <a
    class="book-container"
    [href]=""
    target="_blank"
    rel="noreferrer noopener"
    (click)=onGetArticleDetail()
  >
    <div class="book" [attr.data-after-content]='resume' >
      <div>
        <img class="article-card-d-header-img" style="border-radius: 7px 7px 0px 0px;"
          [alt]="titre"
          [src]="imgArticle"
          onerror="this.onerror=null; this.src='../../../../assets/images/img-article-card.png'" alt="Placeholder image"
        />
        <p class="article-card-d-body-p" style="max-width: 100%;font-weight: bold;">{{ titre }}</p>
        <div class="article-card-d-footer" [ngStyle]="{'background-color':onGetAutorColor(auteur)}">
          <img class="article-card-d-footer-img" [src]='onGetAutorLogo(auteur)' alt="Placeholder image">
        </div>
      </div>
    </div>
  </a>
  <div *ngIf="cardIsOpen === true" class="article-card-d-button" [ngStyle]="{'background-color':onGetAutorColor(auteur)}">
    <a href={{urlArticle}} target="_blank">Lire l'article</a>
  </div>

</ng-template>
