@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 70s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-500px * 7))}
}


// Styling
.slider {
	box-shadow: 3px 3px 13px rgba(85,85,85,.8);
	height: 145px;
	overflow:hidden;
  position: relative;
  background-color: white;
  border-radius: 5px;
  width: 95%;
  z-index: 1;
  margin: 80px auto 20px auto;


  @media only screen and (min-width: 768px) {
    height: 250px;
  }

  @media only screen and (min-width: 1024px) {
    // height: 250px;
    //border-radius: 20px;
    //box-shadow: 0 0px 12px 3px black;
  }

	/*&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 500px;
		position: absolute;
		width: 500px;
		z-index: 2;
	}

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}*/

	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
    width: calc(100% * 50);
    height: 145px;
    margin-top: 0px;

    &__item {
      position: relative;
      display: flex;
      justify-content: center;
    }

    @media only screen and (min-width: 768px) {
      height: 235px;
    }

	}

	.slide {
    img
		{
      height: 145px;
      width: 375px;
      //border-radius: 5px;

      @media only screen and (min-width: 768px) {
        width: 350px;
        height: 250px;
      }

      @media only screen and (min-width: 1024px) {
        width: 350px;
        height: 250px;
      }


    }
  }

  .titre{
    width: 80%;
    color: black;
    font-size: 0.6rem;
    position: absolute;
    bottom: 5px;
    background-color: rgba(255,255,255,.8);
    border-radius: 6px;
    font-weight: bold;
    text-align: center;

    @media only screen and (min-width: 768px) {
      font-size: 0.8rem;
    }

    @media only screen and (min-width: 1024px) {

    }
  }
}
