/* You can add global styles to this file, and also import other style files */
@import "~bulma";
@import "~bulma-carousel";

.container-background{
  background-color: white;
}

markdown {
  h1 {
    font-size: 1.2em;
    font-weight: lighter;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
  }

}
